@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 5px 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.top-div{
    padding: 10px 15px;
    font-size: 20px;
    text-align: left;
    border: 2px solid black;
}
span{
    font-weight: bold;
}

.mid-div{
     display: flex;
     font-size: 20px;
     flex-direction: column;
}


.last-div{
    text-align: left;
    font-size: 20px;
}
ol{
    margin-left: 25px;
}